html {
	--transition: ease;
	--fadetime: 0.15s;
	--interact: #1da1f2;
	--bg0color: #000000;
	--bg1color: #1e1f25;
	--bg2color: #151416;
	--bg3color: var(--bordercolor);
	--blockquote: var(--bordercolor);
	--textcolor: #DDD;
	--bordercolor: #2D333A;
	--linecolor: var(--bordercolor);
	--borderhover: var(--interact);
	--subtle: #EEEEEE80;
	--shadowcolor: #00000080;
	--activeshadowcolor: #000000B3;
	--screen-cover: #00000080;
	--border-size: 1px;
	--border-radius: 3px;

	border: var(--border-size) solid var(--bordercolor);
}
script {
	display: none;
}
html * {
	font-family: Bitstream Vera Sans, DejaVu Sans, Arial, Helvetica, sans-serif;
}
html, body {
	background: var(--bg2color);
	color: var(--textcolor);
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
}

a,
input,
label,
textarea {
	cursor: pointer;
	pointer-events: all;
	text-decoration: none;
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
}
a:link, a:visited
{ color: var(--textcolor); }
a:hover {
	color: var(--interact) !important;
	opacity: 1 !important;
}

::-webkit-scrollbar {
	width: 12px;
	height:12px;
}
::-webkit-scrollbar-track {
	background: var(--bg2color);
}
::-webkit-scrollbar-thumb {
	background: #4D535A;
	border-radius: 4px;
	border: 2px solid var(--bg2color);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--interact);
}
::-webkit-scrollbar-corner {
	background: var(--bg0color);
}

#version {
	color: var(--subtle);
	position: absolute;
	font-size: 0.8em;
	right: 0;
	top: 0;
	margin: 10px;
}

/* popup title */
h2 {
	margin: 1em 0 0;
	text-align: center;
}
/* Blue Blocker logo in the popup title */
h2 img {
	height: 1.2em !important; /* overwrite inline style that was added for development */
	margin-bottom: -0.15em;
}
/* blocked users and queue subtitle */
.blocked-users-count {
	text-align: center;
	color: var(--subtle);
	font-size: 0.9em;
	margin-top: 0;
	margin-bottom: 0.25em;
}

.tabs {
	background: var(--bg2color);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	border-bottom: solid var(--border-size) var(--bordercolor);
	z-index: 1000;
}
.tabs .separator {
	background: var(--bordercolor);
	width: var(--border-size);
}
.tabs a {
	padding: 1em 1.5em;
	position: relative;
	flex: 1;
	text-align: center;
}
.tabs .border {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
	border-bottom: solid 0 var(--interact);
}

.tab {
	background: var(--bg1color);
	margin: 0;
	padding: 1em 25px 25px;
}
.tab > div {
	margin-bottom: 1em;
}
.tab > div:last-child, .last {
	margin-bottom: 0;
}
.tab#quick {
	width: 20em;
}
.tab#advanced {
	width: 27em;
}

.emoji {
	max-width: 1.2em;
	max-height: 1.2em;
	position: relative;
	margin-top: -0.25em;
	vertical-align: middle;
}

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.option p {
	text-align: center;
	margin: 0;
}

.integration {
	display: none;
}

input[type="checkbox"],
input[type="file"] {
	position: absolute;
	display: none;
	top: -100vh;
	opacity: 0;
	height: 0;
	width: 0;
}
label {
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	white-space: nowrap;
	align-items: center;
	padding-left: 0.29em;
}
label:hover,
label:active,
label:focus {
	color: var(--interact);
}

label.border {
	display: inline-flex;
	padding: 0.5em 1em;
	border: var(--border-size) solid var(--bordercolor);
	background: var(--bg2color);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	border-radius: var(--border-radius);
}
label.border:hover,
label.border:active,
label.border:focus {
	border-color: var(--borderhover);
	box-shadow: 0 0 10px 3px var(--activeshadowcolor);
}
label div.checkmark {
	position: relative;
	display: block;
	left: 0;
	padding: 0;
	margin: 0 0.5em 0 -0.3em;
	height: 1.2em;
	width: 1.2em;
	border-radius: var(--border-radius);
	background: var(--bg2color);
	pointer-events: none;
}
label div.checkmark div {
	border: solid 0 #0000;
	border-width: 0;
	position: absolute;
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
}
label div.checkmark div {
	left: 0.35em;
	top: 0.15em;
	width: 0.3em;
	height: 0.55em;
}

input:checked + label div.checkmark div,
label.checked div.checkmark div {
	border-color: var(--interact);
	border-width: 0 0.1875em 0.1875em 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.skip-follower-count.option,
.block-promoted-tweets.option {
	margin-left: 0.5em;
	margin-top: -0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
	text-align: right;
	width: 7em;
	height: 1em;
	position: relative;
	top: -0.1em;
	display: inline-block;
	padding: 0.5em 1em;
	background: var(--bg0color);
	color: var(--textcolor);
	border: var(--border-size) solid var(--bordercolor);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	border-radius: var(--border-radius);
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
}
input[type=number]:hover {
	color: var(--interact);
	border-color: var(--borderhover);
	box-shadow: 0 0 10px 3px var(--activeshadowcolor);
}
input[type=number]:focus {
	color: var(--textcolor);
}

.gold-check {
	margin: -0.2em 0;
	width: 1.2em;
	height: 1.2em;
}

.slider {
	display: flex;
	width: 100%;
	height: 1.5em;
	align-items: center;
}
.slider span {
	width: 2em;
	text-align: right;
	margin-left: 0.5em;
}
.slider input {
	margin-top: 0.75em;
	display: initial;
	width: 100%;
	border-top: solid 1px var(--subtle);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 0.25em;
	background: var(--subtle);
	opacity: 0.75;
	-webkit-transition: ease var(--fadetime);
	-moz-transition: ease var(--fadetime);
	transition: ease var(--fadetime);
	border-radius: 0.25em;
	outline: none;
}
.slider input:hover {
	opacity: 1;
}
.slider input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1em;
	height: 1.5em;
	background: var(--interact);
	cursor: pointer;
	border-radius: 0.5em;
}
.slider input::-moz-range-thumb {
	outline: none;
	width: 1em;
	height: 1.5em;
	background: var(--interact);
	cursor: pointer;
	border-radius: 1em;
}

.button,
.button:active,
.button:focus {
	margin-left: 1em;
	font-size: 1em;
	padding: 0.5em 1em;
	color: var(--textcolor);
	background: var(--bg2color);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	border: var(--border-size) solid var(--bordercolor);
	border-radius: var(--border-radius);
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 0 10px 3px var(--activeshadowcolor);
	border-color: var(--interact);
	color: var(--interact);
}
