# Global code owners for new files/whatever
@kheina @rougetimelord
# Specific patterns that will take precedence
.github/workflows/ci-main.yml @rougetimelord
.github/workflows/prettier.yml @rougetimelord
.github/workflows/release.yml @kheina @rougetimelord
.github/CODEOWNERS @kheina @rougetimelord
.github/pull_request_template.md @kheina @rougetimelord
.github/release.yaml @rougetimelord
assets/* @kheina
public/icon/* @kheina
src/* @kheina @jaredcat @rougetimelord
.editorconfig @kheina @jaredcat
.gitignore @kheina @jaredcat
.npmignore @kheina @jaredcat
.nvmrc @kheina @jaredcat
.prettierignore @kheina @jaredcat
.prettierrc @kheina @jaredcat
CHANGELOG.md @kheina @rougetimelord
LICENSE @kheina
privacy.md @kheina @rougetimelord
makefile @kheina @rougetimelord
package-lock.json @kheina @rougetimelord
package.json @kheina @jaredcat @rougetimelord
readme.md @kheina @jaredcat @rougetimelord
tsconfig.json @kheina @jaredcat @rougetimelord
tsconfig.node.json @kheina @jaredcat @rougetimelord
vite.config.ts @kheina @jaredcat
