p {
    font-size: 1rem;
    width: auto;
}

.center {
    min-width: 50ch;
    max-width: 120ch;
}

img {
    height: 75px;
    width: auto;
}

.bullet-list {
    width: fit-content;
    display: inline-block;
    position: relative;
    /* I'm so sorry, this is just a magic number*/
    left: calc(50vb - 7.5rem);
    transform: translateX(-50%);
    & p {
        text-align: left;
    }
}

.inputs {
    margin-top: 1.1em;
    & button {
        font-size: 1.1rem;
    }
    & div {
        margin-top: 5px;
    }
}

.main {
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
