.subtitle {
	margin-bottom: 1em;
	color: var(--subtle);
}

#reset-counter {
	margin: 1em 0;
	display: none;
}

#detailed-counts {
	color: var(--subtle);
}

#block-history div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

button {
	margin: 0 1em;
}
