html {
	--transition: ease;
	--fadetime: 0.15s;
	--interact: #1da1f2;
	--bg0color: #000000;
	--bg1color: #1e1f25;
	--bg2color: #151416;
	--bg3color: var(--bordercolor);
	--blockquote: var(--bordercolor);
	--textcolor: #ddd;
	--bordercolor: #2d333a;
	--linecolor: var(--bordercolor);
	--borderhover: var(--interact);
	--subtle: #eeeeee80;
	--shadowcolor: #00000080;
	--activeshadowcolor: #000000b3;
	--screen-cover: #00000080;
	--border-size: 1px;
	--border-radius: 3px;

	background: var(--bg0color);
}
html * {
	font-family: Bitstream Vera Sans, DejaVu Sans, Arial, Helvetica, sans-serif;
}
body {
	color: var(--textcolor);
	text-align: center;
	width: 100%;
	background: var(--bg1color);
}
html,
body,
h1,
p {
	margin: 0;
}

a,
a:active,
a:focus {
	color: var(--textcolor);
	text-shadow: 0 2px 3px 1px var(--shadowcolor);
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
	cursor: pointer;
}
a:hover {
	text-shadow: 0 0 10px 3px var(--activeshadowcolor);
	color: var(--interact);
}

button,
button:active,
button:focus,
.button,
.button:active,
.button:focus {
	font-size: 1em;
	padding: 0.5em 1em;
	color: var(--textcolor);
	background: var(--bg2color);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	border: var(--border-size) solid var(--bordercolor);
	border-radius: var(--border-radius);
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
	cursor: pointer;
}
button:hover,
.button:hover {
	box-shadow: 0 0 10px 3px var(--activeshadowcolor);
	border-color: var(--interact);
	color: var(--interact);
}

pre,
code {
	font-family: Hack, DejaVu Sans Mono, Inconsolata, monospace !important;
	background: var(--bg2color);
	border-radius: var(--border-radius);
	padding: 0.1em 0.25em;
}
pre {
	padding: 0.5em;
	white-space: pre-wrap;
	word-break: break-word;
	text-align: left;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: var(--bg2color);
}
::-webkit-scrollbar-thumb {
	background: #4d535a;
	border-radius: 4px;
	border: 2px solid var(--bg2color);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--interact);
}
::-webkit-scrollbar-corner {
	background: var(--bg0color);
}

main {
	padding: 25px;
}
.subtitle {
	color: var(--subtle);
	margin-bottom: 1em;
}

.toasts {
	bottom: 0;
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.toasts div {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('/icon/icon-128.png') var(--bg2color);
	background-repeat: no-repeat;
	background-size: 2.5em;
	background-position-x: 1em;
	background-position-y: center;
	pointer-events: all;
	padding: 0.75em 1.5em 0.75em 4.25em;
	margin: 0 0 25px;
	border: var(--border-size) solid var(--bordercolor);
	border-radius: var(--border-radius);
	color: var(--textcolor);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	min-height: calc(2em + 4px);
}
.toasts div:last-child {
	margin-bottom: 0;
}
.toasts div.error {
	background: url('/icon/error.png') var(--bg1color);
	background-repeat: no-repeat;
	background-size: 2.5em;
	background-position-x: 1em;
	background-position-y: center;
}
.toasts div.warn {
	background: url('/icon/warn.png') var(--bg1color);
	background-repeat: no-repeat;
	background-size: 2.5em;
	background-position-x: 1em;
	background-position-y: center;
}

.toasts div button {
	background: var(--bg1color);
}
