main {
	max-width: 30em;
	margin: 0 auto;
}

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.option p {
	text-align: center;
	margin: 0;
}

input[type="file"] {
	position: absolute;
	display: none;
	top: -100vh;
	opacity: 0;
	height: 0;
	width: 0;
}
label {
	cursor: pointer;
	margin: 0;
	display: inline-flex;
	white-space: nowrap;
	align-items: center;
	padding-left: 0.29em;
}
label:hover,
label:active,
label:focus {
	color: var(--interact);
}

.button,
.button:active,
.button:focus {
	margin-left: 1em;
}
