#import-button {
	color: var(--textcolor);
	cursor: pointer;
}

#db-limit-reached {
	display: none;
}

#importer {
	display: none;
}
#importer p {
	margin-bottom: 1em;
}
#importer pre {
	max-width: 50em;
	margin: 0 auto 1em;
}

input {
	position: absolute;
	display: none;
	top: -100vh;
	opacity: 0;
	height: 0;
	width: 0;
}
.file-field {
	max-width: 50em;
	margin: 1em auto;
	display: block;
	padding: 25px;
	border-radius: var(--border-radius);
	border: 2px dashed var(--bordercolor);
	background: var(--bg2color);
	cursor: pointer;
	-webkit-transition: var(--transition) var(--fadetime);
	-moz-transition: var(--transition) var(--fadetime);
	-o-transition: var(--transition) var(--fadetime);
	transition: var(--transition) var(--fadetime);
}
.file-field:hover {
	color: var(--interact);
	border-color: var(--interact);
}
.file-field span {
	font-size: 1.25em;
}

.toasts button,
.toasts button:active,
.toasts button:focus {
	margin-left: 1em;
}
