name: Publish Releases

on:
  release:
    types: [released]

jobs:
  Release-FireFox:
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.build.outputs.filename }}
      sourcefile: ${{ steps.src.outputs.sourcefile }}
    steps:
    - uses: actions/checkout@v4
    - name: debug output github event
      run: |
        echo "${{ github.event }}"
        echo "${{ github }}"
    - name: Set up Node.js
      uses: actions/setup-node@v4.0.2
      with:
        node-version: '18.x'
    - name: Install dependencies
      run: npm install
    - name: build firefox
      run: npm run build
    - name: zip firefox
      id: build
      run: |
        make firefox
        echo "filename=blue-blocker-firefox-$(make version).zip" >> "$GITHUB_OUTPUT"
    - name: downloading source code
      id: src
      run: |
        export SOURCE_FILENAME="blue-blocker-source-v$(make version).zip"
        curl --connect-timeout 5 --retry 10 --retry-delay 10 --retry-max-time 30 "${{ github.event.zipball_url }}" -o "$SOURCE_FILENAME"
        echo "sourcefile=$SOURCE_FILENAME" >> "$GITHUB_OUTPUT"
    - name: publish firefox
      uses: browser-actions/release-firefox-addon@v0.1.3  # https://github.com/marketplace/actions/release-firefox-addon#inputs
      with:
        addon-id: "{119be3f3-597c-4f6a-9caf-627ee431d374}"
        addon-path: "${{ steps.build.outputs.filename }}"
        source-path: "${{ steps.src.outputs.sourcefile }}"
        approval-note: "The extension can be built and tested locally using `make firefox`. Simply navigate to twitter.com and you should see users being queued and blocked fairly quickly."
        release-note: "{\"en-US\": ${{ toJSON(toJSON(github.event.body)) }}}" # this should be the content of the release, make sure to include changelog. also yes the double use of tojson is intentional
        compatibility-firefox-min: 48.0
        license: MPL-2.0
        auth-api-issuer: ${{ secrets.MOZILLA_ADDONS_JWT_ISSUER }}
        auth-api-secret: ${{ secrets.MOZILLA_ADDONS_JWT_SECRET }}

  Release-Chrome:
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.build.outputs.filename }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Node.js
      uses: actions/setup-node@v4.0.2
      with:
        node-version: '18.x'
    - name: Install dependencies
      run: npm install
    - name: build chrome
      run: npm run build
    - name: zip chrome
      id: build
      run: |
        make chrome
        echo "filename=blue-blocker-chrome-$(make version).zip" >> "$GITHUB_OUTPUT"
    - name: publish chrome
      uses: mnao305/chrome-extension-upload@v5.0.0
      with:
        refresh-token: ${{ secrets.CHROME_WEB_STORE_REFRESH_TOKEN }}
        client-id: ${{ secrets.CHROME_WEB_STORE_CLIENT_ID }}
        client-secret: ${{ secrets.CHROME_WEB_STORE_CLIENT_SECRET }}
        file-path: "${{ steps.build.outputs.filename }}"
        extension-id: "jgpjphkbfjhlbajmmcoknjjppoamhpmm"
        publish: true
